t5-common-gen/*
*.pyc
*removeme*
*universal*
*astronaut*
loop_run
*toy_test*
translation/aligned
/home/mbastan/context_home/structuralDecoding/neurologic_decoding/SuMe/best_model
/home/mbastan/context_home/structuralDecoding/neurologic_decoding/translation/news-commentary-v9-by-document.tar